#logs
logs/*
work/
conf/Catalina/

#swap files
*~
*.swp

#target files
target*

#eclipse
.classpath
.project
.settings/*
WebContent/*
build/*

#misc
conf/PID

#report latex compilation files
report.log
report.aux
report.toc
