vti_encoding:SR|utf8-nl
vti_author:SR|Adam-PC\\Adam
vti_modifiedby:SR|Adam-PC\\Adam
vti_timelastmodified:TR|05 Jan 2013 15:24:47 -0000
vti_timecreated:TR|05 Jan 2013 02:48:30 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|test.html main.dwt about.html client/profile.html client_info.html profile.html main.html index.html crowd_info.html crowd/profile.html
vti_nexttolasttimemodified:TW|05 Jan 2013 15:23:56 -0000
vti_cacheddtm:TX|05 Jan 2013 15:24:47 -0000
vti_filesize:IR|3064
