body {
  background-color: #fff;
  margin: 20px;
  padding: 0;
  font-family: verdana;
  font-size: 13px;
  line-height: 18px;
}

h1 {
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-size: 15px;
  line-height: 25px;
}

a, .clickedlink {
  text-decoration: none;
}

a {
  color: #777;
}

a:hover {
  color: #999;
}

.left {
  text-align: left;
  width: 50%;
  float: left;
}

.right {
  text-align: right;
  width: 50%;
  float: left;
}

.header {
  width: 100%;
}

.clientcrowd {
  width: 49%;
  height: 75%;
  float: left;
  border: 1px solid;
}
